/**classes border à supprimer**/

.border-red {
  border: dotted red 1px;
}

/**fonts**/
header {
  font-family: "Oxygen", sans-serif;
  color: ivory;
  font-weight: bold;
}

nav {
  font-family: "Averia Sans Libre", sans-serif;
  color: ivory;
}

/**header**/

.home {
  background-image: url("img/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}

.overlay {
  background-color: rgba(44, 62, 80, 0.58);
  height: 100%;
  width: 100%;
  left: 0;
}

.row-home-wrapper {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
}

.navLink:link {
  color: ivory;
} /* Lien non visité */
.navLink:visited {
  color: ivory;
} /* Lien visité */
.navLink:hover {
  color: ivory;

  font-weight: bold;
} /* Lien survolé*/
.navLink:active {
  color: gray;
}

/**cards**/
.card-header {
  font-size: 12px;
}
h6 {
  font-size: 14px;
}
h5 {
  font-size: 16px;
}
h3 {
  font-size: 22px;
}

.card {
  box-shadow: 0 10px 10px rgba(35, 35, 37, 0.3);
  border-radius: 10px;
  transition: background-color 0.5s, box-shadow 0.5s, margin-left 0.5s;
}
.card:hover {
  background-color: #ffff;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.3);
  transition: background-color 0.5s, box-shadow 0.5s, margin-left 0.5s;
}

/**footer**/
footer {
  font-family: "Averia Sans Libre", sans-serif;
  color: ivory;
  height: 200px;
}
